Distant Lands
SimplePoly - Town Pack
MoveMotionPack
Oculus
TextMeshPro
TextMesh Pro
GitHub
Sci-Fi UI

[Pp]lugins/GitHub/*
[Pp]lugins/Oculus/*
[Pp]lugins/TextMeshPro/*
[Pp]lugins/TextMesh Pro/*
ThirdParties/SimplePoly - Town Pack/*
ThirdParties/Distant Lands/*
ThirdParties/MoveMotionPack/*
ThirdParties/Sci-Fi UI/*